# 生成音频所需（必装）
kokoro-onnx>=0.6.1
misaki[en]>=0.9.4
num2words
numpy
soundfile>=0.12
soxr
pyloudnorm
lameenc
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
